<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>員工詳情</title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <ul class="list-unstyled">
            <li><span>員工編號: </span><span id="empno"></span></li>
            <li><span>員工姓名: </span><span id="ename"></span></li>
            <li><span>職位: </span><span id="job"></span></li>
            <li><span>雇用日期: </span><span id="hiredate"></span></li>
            <li><span>薪水: </span><span id="salary"></span></li>
            <li><span>獎金: </span><span id="comm"></span></li>
            <li><span>部門: </span><span id="deptno"></span></li>
            <li><span>照片: <span><span><img id="upFiles" width="100px"></span></li>
        </ul>
    </div>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {

        let empno = getUrlPath();

        $.ajax({
            url: `/api/emp/${empno}`,
            type: "GET",
            success: function(res) {
                let data = res.data;
                $("#empno").text(data.empno);
                $("#ename").text(data.ename);
                $("#job").text(data.job);
                $("#hiredate").text(data.hiredate);
                $("#sal").text(data.sal);
                $("#comm").text(data.comm);
                $("#deptno").text(data.deptVO.dname);
                let imgBase64 = `data:image/png;base64, ${data.upFiles}`;
                $("#upFiles").attr("src", imgBase64);

                // // 原生JS
                // let imgSrc = `data:image/png;base64, ${data.upFiles}`;
                // let img2 = document.querySelector("#img2");
                // // img2.setAttribute('src', "data:image/png;base64," + data.upFiles);
                // img2.setAttribute("src", imgSrc);
                //
                // // jQuery
                // $("#img3").attr("src", imgSrc);

            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    function getUrlParameter(name) {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        return urlParams.get(name);
    }

    function getUrlPath() {
        // 獲取當前 URL
        let url = window.location.href;
        // 解析 URL，提取 empno
        let empno = url.substring(url.lastIndexOf("/") + 1);
        return empno;
    }
</script>
</body>
</html>
